<script src="https://kit.fontawesome.com/a7bd9eccf2.js" crossorigin="anonymous"></script>
<script src="/js/sidebar.js" defer></script>
<script src="/js/izin.js"></script>
<script src="/js/dateUtils.js"></script>
<script src="/js/alerts.js"></script>
</body>

</html>